@charset "UTF-8";
h2{
	text-align: center;
	margin: 0 auto;
}
.box4{
	display: block;
	width: 740px;
	height:190px;
	margin:5px auto;
	overflow: hidden;
}
.box {
	width: 180px;
	height: 180px;
	line-height: 180px;
	text-align:center;
	float:left;
	margin-right: 5px;
}
.box:nth-last-child() {
	margin-right: 0;
}

.box img{
	width: 130px;
	height: 180px;
}
button{
	border:none;
}
h3{
	border: 2px solid #000;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
}